<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<div id="cont">
 <form  #login="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="container">
        <input type="text" class="form-control" id="user" required placeholder="Enter Username" [(ngModel)]="model.Username" />
        <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="model.Password">
        <button  type="submit">Login</button>
      </div>
    </form>
</div>
<div id="foot">
  All Copyright reserved @PaymentInfo 2023 
</div>

</body>
</html>

