<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="head">
        <h1>Payment cards information</h1>
    </div>
    <br>
    <br>
    <br>
    <div id="cont">
        <h2>informazioni delle carte disponibili</h2>
        <br><br><br>
        <app-table></app-table>
    </div>
    <button id="back" (click)="goToUsers()" type="submit">Back</button>
    <div id="foot">
        All Copyright reserved @PaymentInfo 2023 
    </div>

</body>
</html>
